%head
  %link{rel: 'stylesheet',
        href: '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'}
  %script{src: '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'}
%body
  %nav{class: 'navbar navbar-default', role: 'navigation'}
    %a{ class: 'btn btn-default navbar-btn',
        type: 'button',
        href: '/login' }Sign In
    %a{ class: 'btn btn-default navbar-btn',
        type: 'button',
        href: '/logout' }Sign Out
    - if current_user
      %p{class: 'navbar-text navbar-right'}
        = "Signed in as #{current_user[:username]}"
  %section
    = yield
