%form{name: 'login', action: '/login', method: 'post'}
  %fieldset
    %label{for: 'identifier'} Username or email:
    %input{type: 'text', name: 'identifier'}
    %label{for: 'password'} Password:
    %input{type: 'password', name: 'password'}
    %input{type: 'submit', value: 'Log In'}
